
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.dark-theme{
    --primary:#000000;
    --inputs: rgba(217, 217, 217, 0.12);
    --inp-color: rgba(255, 255, 255, 0.4);
    --third-color:#FFC34A;
 
}
input,select,.colordiv{
    background: rgb(23, 22, 22);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: var(--inp-color);
    cursor: pointer;
}
input:focus,select:focus{
    outline: none;
}
.Main {
  display: flex;
  background: var(--primary);
  color: white;
  overflow: hidden;
}

.SideBar {
  background: var(--primary);
  border-right: 1px solid rgba(255, 255, 255, 0.28);;
  width: 19%;
  height: 100vh;
  
}
.Rightbar {
  width: 81%;
  height: 100vh;
}
.Display {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56%;
 // border :1px solid red;
  padding: 20px;
}

.output{
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: black;
}

// ---------scrollbar css-----
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6565656d; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5f5f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf; 
}